.nav{
    width: 60%;
    height: 100px;
    margin:0 auto;
}


.nav ul li{
    padding:0 20px 0 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    color:#333333;
}

/* .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    font-size: 18px;
} */